/* Importation de la police Gloria Hallelujah */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/* Style général */
body {
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #f0f8ff; /* Couleur de fond douce */
    color: #333; /* Couleur de texte principale */
    margin: 0;
    padding: 0;
}

/* Style pour les titres */
h1, h2, h3, h4 {
    color: #003366; /* Couleur sombre pour les titres */
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

/* Style pour les questions du quiz */
.question {
    margin-bottom: 20px;
    width: 100%;
    font-family: 'Gloria Hallelujah', cursive; /* Appliquer la police Gloria Hallelujah */
}

/* Style pour les réponses, à afficher horizontalement */
.answers {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Style pour chaque option de réponse */
.answers li {
    margin: 5px 10px;
    display: flex;
    align-items: center;
    flex: 1 1 45%; /* Les options prennent 45% de la largeur avec un peu d'espace entre elles */
}

/* Style pour le bouton de soumission */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    font-family: 'Gloria Hallelujah', cursive; /* Appliquer la police Gloria Hallelujah */
}

button:hover {
    background-color: #0056b3;
}

/* Style pour les résultats */
.result {
    margin-top: 20px;
    font-weight: bold;
    width: 100%;
    font-family: 'Gloria Hallelujah', cursive; /* Appliquer la police Gloria Hallelujah */
}

/* Style pour les réponses correctes et incorrectes */
.correct-answer {
    color: #28a745; /* Couleur verte pour les réponses correctes */
    font-weight: bold;
}

.incorrect-answer {
    color: #dc3545; /* Couleur rouge pour les réponses incorrectes */
    font-weight: bold;
}

/* Style pour les listes */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

/* Style pour chaque élément de la liste */
ul li {
    margin: 5px 0;
}

/* Style pour la liste de navigation */
ul.navigation {
    list-style: none;
    padding: 10px 0;
    background-color: #003366;
    text-align: center;
    margin: 0;
}

ul.navigation li {
    display: inline-block;
    margin: 0 15px;
}

ul.navigation a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'Gloria Hallelujah', cursive; /* Appliquer la police Gloria Hallelujah aux liens de navigation */
}

ul.navigation a:hover {
    background-color: #3399ff;
    transition: background-color 0.3s;
}
